
<div class="space-sticky"></div>
<!-- DISPLAY STRORIES -->
<div class="display-stories">
    <!-- SWIPER -->
    <div class="swiper myStories">
        <div class="swiper-wrapper wrapper-stories" id="storiesBox">
            <!-- MY STORY -->
            <div class="swiper-slide spaceBox">
                <div class="boxStories">
                    <button class="btn add-my-story" data-bs-toggle="modal"
                        data-bs-target="#mdllAddStory">
                        <div class="my_img">
                            <img src="assets/images/avatar/11.jpg" alt="my story">
                            <div class="icon">
                                <i class="ri-add-fill"></i>
                            </div>
                        </div>
                        <div class="display-text">
                            <span>Create <br> Story</span>
                        </div>
                    </button>
                </div>
            </div>
            <!-- HERE -> ITEMS -> AUTOMATICALLY BY JAVASCRIPT -->
        </div>
    </div>
</div>
