<section class="discover-nft-random margin-t-20">
    <div class="un-title-default">
        <div class="text">
            <h2>DISCOVER the latest Uniques</h2>
            <p>from your favorite artists</p>
        </div>
        <div class="un-block-right">
            <a href="page-search-grid.html" class="icon-back" aria-label="iconBtn">
                <i class="ri-arrow-drop-right-line"></i>
            </a>
        </div>
    </div>


    <div class="content-comp p-0">
        
        <div class="swiper nftSwiper" style="overflow: auto;">
            <div class="swiper-wrapper" >

                <div class="swiper-slide">
                    <div class="content-NFTs-body">
                        <div class="item-card-nft">
                            <picture>
                                <source srcset="assets/images/other/18.webp" type="image/webp">
                                <img class="big-image" src="assets/images/other/18.jpg" alt="">
                            </picture>
                            <div class="counterdown">
                                <span>08H</span>
                                <span>38M</span>
                                <span>16S</span>
                            </div>
                            <div class="btn-like-click">
                                <div class="btnLike">
                                    <input type="checkbox" checked>
                                    <span class="count-likes">197</span>
                                    <i class="ri-heart-3-line"></i>
                                </div>
                            </div>
                            <a href="page-collectibles-details.html" class="un-info-card">
                                <div class="block-left">
                                    <h4>Dark Side of Me</h4>
                                    <div class="user">
                                        <picture>
                                            <source srcset="assets/images/avatar/19.webp" type="image/webp">
                                            <img class="img-avatar" src="assets/images/avatar/19.jpg" alt="">
                                        </picture>
                                        <h5>Julian Co.</h5>
                                    </div>
                                </div>
                                <div class="block-right">
                                    <h6>Starting Bid</h6>
                                    <p>
                                        <span>($3,650)</span>
                                        1.50 ETH
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>