<div class="un-title-default margin-t-20">
    <div class="text">
        <h2>Artworks</h2>
        <p>Download for your projects</p>
    </div>
    <div class="un-block-right">
        <a href="page-best-seller.html" class="icon-back" aria-label="iconBtn">
            <i class="ri-arrow-drop-right-line"></i>
        </a>
    </div>
</div>
<section class="stories-grid-page">
    <!-- DISPLAY STRORIES -->
    <div class="display-stories">
        <div class="wrapper-stories stories story-preview carousel snapssenger">
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="story swiper-slide" data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                <div class="story swiper-slide " data-id="ListOne" data-photo="assets/images/avatar/22.jpg" data-last-updated="1646579345">
                    <a class="item-link visited" href="">
                      <span class="item-preview">
                        <img lazy="eager" src="assets/images/other/29.jpg">
                      </span>
                      <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">MelonPixel⚡</strong>
                        <span class="time">6/3/2022</span>
                      </span>
                    </a>
                    
                    <ul class="items"><li class="" data-id="1"><a href="assets/images/other/29.jpg" data-link="page-my-profile.html" data-linktext="Visit My Profile" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/29.jpg">
                        </a></li><li class="" data-id="2"><a href="assets/images/other/31.jpg" data-link="https://themeforest.net/item/unic-nft-mobile-template/36083774" data-linktext="Get it Now 🚀" data-time="1646665745" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/31.jpg">
                        </a></li><li class="" data-id="3"><a href="assets/images/other/2.jpg" data-link="" data-linktext="" data-time="1646838545" data-type="photo" data-length="4">
                          <img loading="auto" src="assets/images/other/2.jpg">
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>