<section class="margin-t-20 margin-b-10 stories-section">
    <div class="un-title-default">
        <div class="text">
            <h2>Top Investor</h2>
        </div>
        <div class="un-block-right">
            <a href="page-best-seller.html" class="icon-back" aria-label="iconBtn">
                <i class="ri-arrow-drop-right-line"></i>
            </a>
        </div>
    </div>
    <div class="display-stories">
        <div class="swiper myStories swiper-initialized swiper-horizontal swiper-free-mode swiper-ios swiper-backface-hidden">
            <div class="swiper-wrapper wrapper-stories stories user-icon carousel snapgram " id="stories" aria-live="polite" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>
                <div class="story swiper-slide" data-id="userTwo" data-photo="assets/images/avatar/14.jpg" data-last-updated="1646673856" role="group" aria-label="3 / 8">
                    <a class="item-link" href="">
                        <span class="item-preview">
                        <img lazy="eager" src="assets/images/avatar/14.jpg">
                        </span>
                        <span class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <strong class="name" itemprop="name">Camillo Ferrari</strong>
                        <span class="time">7/3/2022</span>
                        </span>
                    </a>
                
                    <ul class="items"><li class="" data-id="4"><a href="assets/images/other/25.jpg" data-link="" data-linktext="" data-time="1646665745" data-type="photo" data-length="4">
                        <img loading="auto" src="">
                    </a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>