<section class="un-page-components">
    <div class="un-title-default">
        <div class="text">
            <h2>Best Galleries</h2>
            <p>Discover our top selection galleries</p>
        </div>
        <div class="un-block-right">
            <a href="page-search-grid.html" class="icon-back" aria-label="iconBtn">
                <i class="ri-arrow-drop-right-line"></i>
            </a>
        </div>
    </div>
    <div class="content-comp p-0">
        <div class="un-block-cards">
            <!-- Swiper -->
            <div class="swiper nftSwiper" style="overflow: auto;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- item-card-nft -->
                        <a href="page-collectibles-details.html" class="item-card-nft --swiper">
                            <picture>
                                <source srcset="assets/images/other/11.webp" type="image/webp">
                                <img class="big-image" src="assets/images/other/11.jpg" alt="">
                            </picture>
                            <div class="counterdown">
                                <span>08H</span>
                                <span>38M</span>
                                <span>16S</span>
                            </div>
                            <div class="un-info-card">
                                <div class="block-left">
                                    <h4>Dark Side of Me</h4>
                                    <div class="user">
                                        <picture>
                                            <source srcset="assets/images/avatar/19.webp" type="image/webp">
                                            <img class="img-avatar" src="assets/images/avatar/19.jpg" alt="">
                                        </picture>
                                        <h5>Julian Co.</h5>
                                    </div>
                                </div>
                                <div class="block-right">
                                    <h6>Starting Bid</h6>
                                    <p>
                                        <span>($3,650)</span>
                                        1.50 ETH
                                    </p>
                                </div>
    
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <!-- item-card-nft -->
                        <a href="page-collectibles-details.html" class="item-card-nft --swiper">
                            <picture>
                                <source srcset="assets/images/other/8.webp" type="image/webp">
                                <img class="big-image" src="assets/images/other/8.jpg" alt="">
                            </picture>
                            <div class="counterdown">
                                <span>08H</span>
                                <span>38M</span>
                                <span>16S</span>
                            </div>
                            <div class="un-info-card">
                                <div class="block-left">
                                    <h4>Ceres Searching</h4>
                                    <div class="user">
                                        <picture>
                                            <source srcset="assets/images/avatar/8.webp" type="image/webp">
                                            <img class="img-avatar" src="assets/images/avatar/8.png" alt="">
                                        </picture>
                                        <h5>Settimio Loggia</h5>
                                    </div>
                                </div>
                                <div class="block-right">
                                    <h6>Starting Bid</h6>
                                    <p>
                                        <span>($3,650)</span>
                                        1.50 ETH
                                    </p>
                                </div>
    
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <!-- item-card-nft -->
                        <a href="page-collectibles-details.html" class="item-card-nft --swiper">
                            <picture>
                                <source srcset="assets/images/other/9.webp" type="image/webp">
                                <img class="big-image" src="assets/images/other/9.jpg" alt="">
                            </picture>
                            <div class="counterdown">
                                <span>08H</span>
                                <span>38M</span>
                                <span>16S</span>
                            </div>
                            <div class="un-info-card">
                                <div class="block-left">
                                    <h4>Secret Door</h4>
                                    <div class="user">
                                        <picture>
                                            <source srcset="assets/images/avatar/7.webp" type="image/webp">
                                            <img class="img-avatar" src="assets/images/avatar/7.jpg" alt="">
                                        </picture>
                                        <h5>Ausonio_Loi</h5>
                                    </div>
                                </div>
                                <div class="block-right">
                                    <h6>Starting Bid</h6>
                                    <p>
                                        <span>($3,650)</span>
                                        2.24 ETH
                                    </p>
                                </div>
    
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <!-- item-card-nft -->
                        <a href="page-collectibles-details.html" class="item-card-nft --swiper">
                            <picture>
                                <source srcset="assets/images/other/35.webp" type="image/webp">
                                <img class="big-image" src="assets/images/other/35.jpg" alt="">
                            </picture>
                            <div class="counterdown">
                                <span>08H</span>
                                <span>38M</span>
                                <span>16S</span>
                            </div>
                            <div class="un-info-card">
                                <div class="block-left">
                                    <h4>Secret Door</h4>
                                    <div class="user">
                                        <picture>
                                            <source srcset="assets/images/avatar/10.webp" type="image/webp">
                                            <img class="img-avatar" src="assets/images/avatar/10.jpg" alt="">
                                        </picture>
                                        <h5>Ausonio_Loi</h5>
                                    </div>
                                </div>
                                <div class="block-right">
                                    <h6>Starting Bid</h6>
                                    <p>
                                        <span>($3,650)</span>
                                        2.24 ETH
                                    </p>
                                </div>
    
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>