
<section class="discover-nft-random  margin-t-20" style="margin-bottom: 100px;">
    <div class="un-title-default">
        <div class="text">
            <h2>Best Selling Artworks</h2>
            <p>Artworks tha got most downloads</p>
        </div>
        <div class="un-block-right">
            <a href="page-search-grid.html" class="icon-back" aria-label="iconBtn">
                <i class="ri-arrow-drop-right-line"></i>
            </a>
        </div>
    </div>
    <div class="content-NFTs-body">
        <!-- item-sm-card-NFTs -->
        <a href="page-collectibles-details.html" class="item-sm-card-NFTs">
            <div class="cover-image">
                <picture>
                    <source srcset="assets/images/other/27.webp" type="image/webp">
                    <img class="big-image" src="assets/images/other/27.jpg" alt="">
                </picture>
                <div class="content-text">
                    <div class="btn-like-click">
                        <div class="btnLike">
                            <input type="checkbox">
                            <span class="count-likes">14</span>
                            <i class="ri-heart-3-line"></i>
                        </div>
                    </div>
                </div>
                <div class="user-text">
                    <div class="user-avatar">
                        <picture>
                            <source srcset="assets/images/avatar/10.webp" type="image/webp">
                            <img class="sm-user" src="assets/images/avatar/10.jpg" alt="">
                        </picture>
                        <span>Camillo</span>
                    </div>
                    <div class="number-eth">
                        <span class="main-price">1.50 ETH</span>
                        <span>($3,650)</span>
                    </div>
                </div>
            </div>
        </a>
        <!-- item-sm-card-NFTs -->
        <a href="page-collectibles-details.html" class="item-sm-card-NFTs">
            <div class="cover-image">
                <picture>
                    <source srcset="assets/images/other/19.webp" type="image/webp">
                    <img class="big-image" src="assets/images/other/19.jpg" alt="">
                </picture>
                <div class="content-text">
                    <div class="icon-type">
                        <i class="ri-vidicon-line"></i>
                    </div>

                    <div class="btn-like-click">
                        <div class="btnLike">
                            <input type="checkbox">
                            <span class="count-likes">0</span>
                            <i class="ri-heart-3-line"></i>
                        </div>
                    </div>
                </div>
                <div class="user-text">
                    <div class="user-avatar">
                        <picture>
                            <source srcset="assets/images/avatar/14.webp" type="image/webp">
                            <img class="sm-user" src="assets/images/avatar/14.jpg" alt="">
                        </picture>
                        <span>Julian Co.</span>
                    </div>
                    <div class="number-eth">
                        <span class="main-price">1.50 ETH</span>
                        <span>($3,650)</span>
                    </div>
                </div>
            </div>
        </a>
        <!-- item-sm-card-NFTs -->
        <a href="page-collectibles-details.html" class="item-sm-card-NFTs">
            <div class="cover-image">
                <picture>
                    <source srcset="assets/images/other/24.webp" type="image/webp">
                    <img class="big-image" src="assets/images/other/24.jpg" alt="">
                </picture>
                <div class="content-text">
                    <div class="btn-like-click">
                        <div class="btnLike">
                            <input type="checkbox" checked>
                            <span class="count-likes">42</span>
                            <i class="ri-heart-3-line"></i>
                        </div>
                    </div>
                </div>
                <div class="user-text">
                    <div class="user-avatar">
                        <picture>
                            <source srcset="assets/images/avatar/10.webp" type="image/webp">
                            <img class="sm-user" src="assets/images/avatar/10.jpg" alt="">
                        </picture>
                        <span>Camillo</span>
                    </div>
                    <div class="number-eth">
                        <span class="main-price">1.50 ETH</span>
                        <span>($3,650)</span>
                    </div>
                </div>
            </div>
        </a>
        <!-- item-sm-card-NFTs -->
        <a href="page-collectibles-details.html" class="item-sm-card-NFTs">
            <div class="cover-image">
                <picture>
                    <source srcset="assets/images/other/16.webp" type="image/webp">
                    <img class="big-image" src="assets/images/other/16.jpg" alt="">
                </picture>
                <div class="content-text">
                    <div class="icon-type">
                        <i class="ri-vidicon-line"></i>
                    </div>

                    <div class="btn-like-click">
                        <div class="btnLike">
                            <input type="checkbox">
                            <span class="count-likes">27</span>
                            <i class="ri-heart-3-line"></i>
                        </div>
                    </div>
                </div>
                <div class="user-text">
                    <div class="user-avatar">
                        <picture>
                            <source srcset="assets/images/avatar/14.webp" type="image/webp">
                            <img class="sm-user" src="assets/images/avatar/14.jpg" alt="">
                        </picture>
                        <span>Julian Co.</span>
                    </div>
                    <div class="number-eth">
                        <span class="main-price">1.50 ETH</span>
                        <span>($3,650)</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>