<div id="wrapper">
    <!-- START CONTENT -->
    <div id="content">
        <!-- ===================================
          START THE HEADER
        ==================================== -->
          <app-header></app-header>
        <!-- ===================================
            END THE HEADER
        ==================================== -->

        <!-- ===================================
        START THE SIDEBAR MENU - CONNECTED MODAL
        ==================================== -->
          <app-side-menu></app-side-menu>
        <!-- ===================================
        START THE SIDEBAR MENU - CONNECTED MODAL
        ==================================== -->
        <router-outlet></router-outlet>

    </div>
</div>


