<div id="wrapper">
    <!-- START CONTENT -->
    <div id="content">
        <!-- ===================================
          START THE HEADER
        ==================================== -->
          <app-header (setShowMenu)="getShowMenu($event)"></app-header>
        <!-- ===================================
            END THE HEADER
        ==================================== -->

        <!-- ===================================
        START THE SIDEBAR MENU - CONNECTED MODAL
        ==================================== -->
          <app-side-menu [showMenu]="showMenu"></app-side-menu>
        <!-- ===================================
        START THE SIDEBAR MENU - CONNECTED MODAL
        ==================================== -->
        <router-outlet></router-outlet>
        <app-nav-bar></app-nav-bar>
    </div>
</div>


