<!-- ===================================
  START THE NFT SWIPER
==================================== -->
<section class="unSwiper-cards margin-t-20">
    <div class="un-title-default">
        <div class="text">
            <h2>HOT Auctions</h2>
            <p>Be on the lookout for the latest NFTs</p>
        </div>
        <div class="un-block-right">
            <a href="page-search-grid.html" class="icon-back" aria-label="iconBtn">
                <i class="ri-arrow-drop-right-line"></i>
            </a>
        </div>
    </div>
    <div class="content-cards-NFTs margin-t-20">
        <div class="swiper cardGradual" style="overflow: auto;">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- item-card-gradual -->
                    <div class="item-card-gradual">
                        <div class="head-card d-flex justify-content-between align-items-center">
                            <div class="creator-name">
                                <div class="image-user">
                                    <picture>
                                        <source srcset="assets/images/avatar/5.webp" type="image/webp">
                                        <img class="img-avatar" src="assets/images/avatar/5.png" alt="">
                                    </picture>
                                    <div class="icon">
                                        <i class="ri-checkbox-circle-fill"></i>
                                    </div>
                                </div>
                                <h3>Settimio Loggia</h3>
                            </div>
                            <div class="btn-like-click">
                                <div class="btnLike">
                                    <input type="checkbox">
                                    <span class="count-likes">195</span>
                                    <i class="ri-heart-3-line"></i>
                                </div>
                            </div>
                        </div>
                        <a href="page-collectibles-details.html" class="body-card py-0">
                            <div class="cover-nft">
                                <picture>
                                    <source srcset="assets/images/other/26.webp" type="image/webp">
                                    <img class="img-cover" src="assets/images/other/26.jpg" alt="image NFT">
                                </picture>
                                <div class="icon-type">
                                    <i class="ri-vidicon-line"></i>
                                </div>
                                <div class="countdown-time">
                                    <span>08H 38M 16S</span>
                                </div>
                            </div>
                            <div class="title-card-nft">
                                <div class="side-one">
                                    <h2>The Dark Corner</h2>
                                    <p>8 Editions Minted</p>
                                </div>
                                <div class="side-other">
                                    <span class="no-sales">3 for sale</span>
                                </div>
                            </div>

                        </a>
                        <div class="footer-card">
                            <div class="starting-bad">
                                <h4>2.78 ETH</h4>
                                <span>Starting Bid</span>
                            </div>
                            <button type="button"
                                class="btn btn-md-size bg-primary text-white rounded-pill">
                                Place a bid
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- item-card-gradual -->
                    <div class="item-card-gradual">
                        <div class="head-card d-flex justify-content-between align-items-center">
                            <div class="creator-name">
                                <div class="image-user">
                                    <picture>
                                        <source srcset="assets/images/avatar/21.webp" type="image/webp">
                                        <img class="img-avatar" src="assets/images/avatar/21.jpg" alt="">
                                    </picture>
                                    <div class="icon">
                                        <i class="ri-checkbox-circle-fill"></i>
                                    </div>
                                </div>
                                <h3>Leda Beneventi</h3>
                            </div>
                            <div class="btn-like-click">
                                <div class="btnLike">
                                    <input type="checkbox" checked>
                                    <span class="count-likes">164</span>
                                    <i class="ri-heart-3-line"></i>
                                </div>
                            </div>
                        </div>
                        <a href="page-collectibles-details.html" class="body-card py-0">
                            <div class="cover-nft">
                                <picture>
                                    <source srcset="assets/images/other/14.webp" type="image/webp">
                                    <img class="img-cover" src="assets/images/other/14.jpg" alt="image NFT">
                                </picture>
                                <div class="countdown-time">
                                    <span>08H 38M 16S</span>
                                </div>
                            </div>
                            <div class="title-card-nft">
                                <div class="side-one">
                                    <h2>Galaxy on Earth</h2>
                                    <p>6 Editions Minted</p>
                                </div>
                                <div class="side-other">
                                    <span class="no-sales">2 for sale</span>
                                </div>
                            </div>
                        </a>
                        <div class="footer-card">
                            <div class="starting-bad">
                                <h4>2.40 ETH</h4>
                                <span>Starting Bid</span>
                            </div>
                            <button type="button"
                                class="btn btn-md-size bg-primary text-white rounded-pill">
                                Place a bid
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- item-card-gradual -->
                    <div class="item-card-gradual">
                        <div class="head-card d-flex justify-content-between align-items-center">
                            <div class="creator-name">
                                <div class="image-user">
                                    <picture>
                                        <source srcset="assets/images/avatar/13.webp" type="image/webp">
                                        <img class="img-avatar" src="assets/images/avatar/13.jpg" alt="">
                                    </picture>
                                    <div class="icon">
                                        <i class="ri-checkbox-circle-fill"></i>
                                    </div>
                                </div>
                                <h3>Bruce Wheless</h3>
                            </div>
                            <div class="btn-like-click">
                                <div class="btnLike">
                                    <input type="checkbox">
                                    <span class="count-likes">95</span>
                                    <i class="ri-heart-3-line"></i>
                                </div>
                            </div>
                        </div>
                        <a href="page-collectibles-details.html" class="body-card py-0">
                            <div class="cover-nft">
                                <picture>
                                    <source srcset="assets/images/other/27.webp" type="image/webp">
                                    <img class="img-cover" src="assets/images/other/27.jpg" alt="image NFT">
                                </picture>
                                <div class="countdown-time">
                                    <span>08H 38M 16S</span>
                                </div>
                            </div>
                            <div class="title-card-nft">
                                <div class="side-one">
                                    <h2>The Scary Shib</h2>
                                    <p>8 Editions Minted</p>
                                </div>
                                <div class="side-other">
                                    <span class="no-sales">3 for sale</span>
                                </div>
                            </div>
                        </a>
                        <div class="footer-card">
                            <div class="starting-bad">
                                <h4>1.27 ETH</h4>
                                <span>Starting Bid</span>
                            </div>
                            <button type="button"
                                class="btn btn-md-size bg-primary text-white rounded-pill">
                                Place a bid
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- item-card-gradual -->
                    <div class="item-card-gradual">
                        <div class="head-card d-flex justify-content-between align-items-center">
                            <div class="creator-name">
                                <div class="image-user">
                                    <picture>
                                        <source srcset="assets/images/avatar/17.webp" type="image/webp">
                                        <img class="img-avatar" src="assets/images/avatar/17.jpg" alt="">
                                    </picture>
                                    <div class="icon">
                                        <i class="ri-checkbox-circle-fill"></i>
                                    </div>
                                </div>
                                <h3>Steve Jones</h3>
                            </div>
                            <div class="btn-like-click">
                                <div class="btnLike">
                                    <input type="checkbox">
                                    <span class="count-likes">195</span>
                                    <i class="ri-heart-3-line"></i>

                                </div>
                            </div>
                        </div>
                        <a href="page-collectibles-details.html" class="body-card py-0">
                            <div class="cover-nft">
                                <picture>
                                    <source srcset="assets/images/other/16.webp" type="image/webp">
                                    <img class="img-cover" src="assets/images/other/16.jpg" alt="image NFT">
                                </picture>
                                <div class="icon-type">
                                    <i class="ri-vidicon-line"></i>
                                </div>
                            </div>
                            <div class="title-card-nft">
                                <div class="side-one">
                                    <h2>The Dark Corner</h2>
                                    <p>25 Editions Minted</p>
                                </div>
                                <div class="side-other">
                                    <span class="no-sales">5 for sale</span>
                                </div>
                            </div>
                        </a>
                        <div class="footer-card">
                            <div class="starting-bad">
                                <h4>1.29 ETH</h4>
                                <span>Starting Bid</span>
                            </div>
                            <button type="button"
                                class="btn btn-md-size bg-primary text-white rounded-pill">
                                Place a bid
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- item-card-gradual -->
                    <div class="item-card-gradual">
                        <div class="head-card d-flex justify-content-between align-items-center">
                            <div class="creator-name">
                                <div class="image-user">
                                    <picture>
                                        <source srcset="assets/images/avatar/19.webp" type="image/webp">
                                        <img class="img-avatar" src="assets/images/avatar/19.jpg" alt="">
                                    </picture>
                                    <div class="icon">
                                        <i class="ri-checkbox-circle-fill"></i>
                                    </div>
                                </div>
                                <h3>Hunter Taylor</h3>
                            </div>
                            <div class="btn-like-click">
                                <div class="btnLike">
                                    <input type="checkbox">
                                    <span class="count-likes">297</span>
                                    <i class="ri-heart-3-line"></i>
                                </div>
                            </div>
                        </div>
                        <a href="page-collectibles-details.html" class="body-card py-0">
                            <div class="cover-nft">
                                <picture>
                                    <source srcset="assets/images/other/21.webp" type="image/webp">
                                    <img class="img-cover" src="assets/images/other/21.jpg" alt="image NFT">
                                </picture>
                                <div class="countdown-time">
                                    <span>08H 38M 16S</span>
                                </div>
                            </div>
                            <div class="title-card-nft">
                                <div class="side-one">
                                    <h2>Ecstasy of the Dead</h2>
                                    <p>350 Editions Minted</p>
                                </div>
                                <div class="side-other">
                                    <span class="no-sales">9 for sale</span>
                                </div>
                            </div>
                        </a>
                        <div class="footer-card">
                            <div class="starting-bad">
                                <h4>1.79 ETH</h4>
                                <span>Starting Bid</span>
                            </div>
                            <button type="button"
                                class="btn btn-md-size bg-primary text-white rounded-pill">
                                Place a bid
                            </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- item-card-gradual -->
                    <div class="item-card-gradual">
                        <div class="head-card d-flex justify-content-between align-items-center">
                            <div class="creator-name">
                                <div class="image-user">
                                    <picture>
                                        <source srcset="assets/images/avatar/18.webp" type="image/webp">
                                        <img class="img-avatar" src="assets/images/avatar/18.jpg" alt="">
                                    </picture>
                                    <div class="icon">
                                        <i class="ri-checkbox-circle-fill"></i>
                                    </div>
                                </div>
                                <h3>Craig Leach</h3>
                            </div>
                            <div class="btn-like-click">
                                <div class="btnLike">
                                    <input type="checkbox">
                                    <span class="count-likes">195</span>
                                    <i class="ri-heart-3-line"></i>

                                </div>
                            </div>
                        </div>
                        <a href="page-collectibles-details.html" class="body-card py-0">
                            <div class="cover-nft">
                                <picture>
                                    <source srcset="assets/images/other/6.webp" type="image/webp">
                                    <img class="img-cover" src="assets/images/other/6.jpg" alt="image NFT">
                                </picture>
                                <div class="icon-type">
                                    <i class="ri-vidicon-line"></i>
                                </div>
                                <div class="countdown-time">
                                    <span>08H 38M 16S</span>
                                </div>
                            </div>
                            <div class="title-card-nft">
                                <div class="side-one">
                                    <h2>The Moon Boi</h2>
                                    <p>14 Editions Minted</p>
                                </div>
                                <div class="side-other">
                                    <span class="no-sales">2 for sale</span>
                                </div>
                            </div>

                        </a>
                        <div class="footer-card">
                            <div class="starting-bad">
                                <h4>2.78 ETH</h4>
                                <span>Starting Bid</span>
                            </div>
                            <button type="button"
                                class="btn btn-md-size bg-primary text-white rounded-pill">
                                Place a bid
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>