<!-- ===================================
  START THE BEST SELLER
==================================== -->
<section class="un-section-seller margin-t-20">
    <!-- un-title-default -->
    <div class="un-title-default">
        <div class="text">
            <h2>Tok ranking artists</h2>
            <p>See the artists you keep under observation</p>
        </div>
        <div class="un-block-right">
            <a href="page-best-seller.html" class="icon-back" aria-label="iconBtn">
                <i class="ri-arrow-drop-right-line"></i>
            </a>
        </div>
    </div>
    <!-- un-block-auther -->
    <div class="un-block-creators margin-t-20">
        <!-- Swiper -->
        <div class="swiper swiperCreators">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- un-item-seller -->
                    <a href="page-creator-profile.html" class="un-item-seller">
                        <div class="number">
                            01
                        </div>
                        <div class="media-profile">
                            <figure class="image-avatar">
                                <picture>
                                    <source srcset="assets/images/avatar/22.webp" type="image/webp">
                                    <img src="assets/images/avatar/22.jpg" alt="">
                                </picture>
                                <div class="icon-verify">
                                    <i class="ri-checkbox-circle-fill"></i>
                                </div>
                            </figure>
                            <div class="text">
                                <h3>MelonPixel⚡</h3>
                                <p>19.4 ETH</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- un-item-seller -->
                    <a href="page-creator-profile.html" class="un-item-seller">
                        <div class="number">
                            02
                        </div>
                        <div class="media-profile">
                            <figure class="image-avatar">
                                <picture>
                                    <source srcset="assets/images/avatar/18.webp" type="image/webp">
                                    <img src="assets/images/avatar/18.jpg" alt="">
                                </picture>
                                <div class="icon-verify">
                                    <i class="ri-checkbox-circle-fill"></i>
                                </div>
                            </figure>
                            <div class="text">
                                <h3>Camillo Ferrari</h3>
                                <p>5.3 ETH</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- un-item-seller -->
                    <a href="page-creator-profile.html" class="un-item-seller">
                        <div class="number">
                            03
                        </div>
                        <div class="media-profile">
                            <figure class="image-avatar">
                                <picture>
                                    <source srcset="assets/images/avatar/14.webp" type="image/webp">
                                    <img src="assets/images/avatar/14.jpg" alt="">
                                </picture>
                                <div class="icon-verify">
                                    <i class="ri-checkbox-circle-fill"></i>
                                </div>
                            </figure>
                            <div class="text">
                                <h3>🚀 Pingu</h3>
                                <p>3.9 ETH</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- un-item-seller -->
                    <a href="page-creator-profile.html" class="un-item-seller">
                        <div class="number">
                            04
                        </div>
                        <div class="media-profile">
                            <figure class="image-avatar">
                                <picture>
                                    <source srcset="assets/images/avatar/5.webp" type="image/webp">
                                    <img src="assets/images/avatar/5.png" alt="">
                                </picture>
                                <div class="icon-verify">
                                    <i class="ri-checkbox-circle-fill"></i>
                                </div>
                            </figure>
                            <div class="text">
                                <h3>Julian Co.</h3>
                                <p>2.8 ETH</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <!-- un-item-seller -->
                    <a href="page-creator-profile.html" class="un-item-seller">
                        <div class="number">
                            05
                        </div>
                        <div class="media-profile">
                            <figure class="image-avatar">
                                <picture>
                                    <source srcset="assets/images/avatar/13.webp" type="image/webp">
                                    <img src="assets/images/avatar/13.jpg" alt="">
                                </picture>
                                <div class="icon-verify">
                                    <i class="ri-checkbox-circle-fill"></i>
                                </div>
                            </figure>
                            <div class="text">
                                <h3>Tito_Calab</h3>
                                <p>2.7 ETH</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>